In [1]:
import pyforest


Certainly! Preprocessing data from multiple Excel files for a classification model involves several steps. Here's a detailed guide:

Data Collection:

Gather all the Excel files containing relevant data.
Ensure each file has a common key or identifier to join them.
Load Data:

Use a tool like Python with libraries such as pandas to load the Excel files into dataframes.
Read each Excel file using pd.read_excel() function.
Inspect Data:

Check the structure of each dataframe (number of rows, columns, data types).
Look for missing values, duplicates, or inconsistencies.
Data Cleaning:

Handle missing values:
Drop rows with missing values using dropna() or fill missing values using fillna().
Remove duplicates using drop_duplicates() function.
Standardize data formats (e.g., date formats, categorical values).
Address any inconsistencies or errors in the data.
Join Dataframes:

Merge/join the dataframes based on the common key using pd.merge() function.
Choose the appropriate type of join (e.g., inner, outer, left, right) based on your analysis requirements.
Feature Engineering:

Create new features that might be useful for classification.
Transform categorical variables into numerical representations using techniques like one-hot encoding or label encoding.
Extract relevant information from text or datetime columns.
Scale or normalize numerical features if necessary.
Split Data:

Split the combined dataset into training and testing sets using techniques like stratified sampling to maintain class balance.
Use functions like train_test_split() from scikit-learn library.
Feature Selection (Optional):

Identify and select the most relevant features for your classification model.
Use techniques like feature importance ranking, correlation analysis, or domain knowledge.
Model Training:

Choose an appropriate classification algorithm (e.g., logistic regression, decision trees, random forests, support vector machines).
Train the model on the training dataset.
Model Evaluation:

Evaluate the trained model's performance using metrics like accuracy, precision, recall, F1-score, and ROC-AUC.
Use techniques like cross-validation for robust evaluation.
Model Tuning (Optional):

Fine-tune hyperparameters of the classification model to improve performance.
Use techniques like grid search or random search for hyperparameter optimization.
Final Model Deployment:

Once satisfied with the model performance, deploy it for prediction on new data.
Documentation:

Document each step of the preprocessing process and the rationale behind it for reproducibility and future reference.

In [2]:
import os

def get_csv_file_names(folder_path):
    """
    Get the names of CSV files in the specified folder.

    Args:
    folder_path (str): Path to the folder containing CSV files.

    Returns:
    list: A list containing the names of CSV files with extensions.
    """
    csv_files = []  # List to store file names with extensions

    # Loop through each file in the folder
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.csv'):
            # Append file name with extension to the list
            csv_files.append(file_name)

    return csv_files

# Example usage:
folder_path = 'Data/'
csv_files_list = get_csv_file_names(folder_path)
print(csv_files_list)

['members_v3.csv', 'sample_submission_v2.csv', 'train_v2.csv', 'transactions_v2.csv', 'user_logs_v2.csv']

In [3]:
#user information. Note that not every user in the dataset is available.
members_df = pd.read_csv("Data/members_v3.csv")
sample_submission_df = pd.read_csv("Data/sample_submission_v2.csv")
train_df = pd.read_csv("Data/train_v2.csv")
transactions_df = pd.read_csv("Data/transactions_v2.csv")
user_logs_df = pd.read_csv("Data/user_logs_v2.csv")

In [13]:
dataframes_list = [members_df, sample_submission_df, train_df, transactions_df, user_logs_df]

In [4]:
# set the options so the output format can be displayed correctly
pd.set_option('expand_frame_repr', True)
pd.set_option('display.max_rows', 30000000)
pd.set_option('display.max_columns', 100)

In [5]:
# check the number of duplicate accounts in each table
train_df.duplicated('msno').sum()
sample_submission_df.duplicated('msno').sum()
transactions_df.duplicated('msno').sum()
user_logs_df.duplicated('msno').sum()
members_df.duplicated('msno').sum()

0

In [6]:
train_df.head()

                                           msno  is_churn
0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1

In [7]:
sample_submission_df.head()

                                           msno  is_churn
0  4n+fXlyJvfQnTeKXTWT507Ll4JVYGrOC8LHCfwBmPE4=         0
1  aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=         0
2  rFC9eSG/tMuzpre6cwcMLZHEYM89xY02qcz7HL4//jc=         0
3  WZ59dLyrQcE7ft06MZ5dj40BnlYQY7PHgg/54+HaCSE=         0
4  aky/Iv8hMp1/V/yQHLtaVuEmmAxkB5GuasQZePJ7NU4=         0

In [8]:
members_df.head()

,msno,city,bd,gender,registered_via,registration_init_time
0,Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=,1,0,NaN,11,20110911
1,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,1,0,NaN,7,20110914
2,cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=,1,0,NaN,11,20110915
3,9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=,1,0,NaN,11,20110915
4,WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=,6,32,female,9,20110915

In [9]:
transactions_df.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=,32,90,298,298,0,20170131,20170504,0
1,++lvGPJOinuin/8esghpnqdljm6NXS8m8Zwchc7gOeA=,41,30,149,149,1,20150809,20190412,0
2,+/GXNtXWQVfKrEDqYAzcSw2xSPYMKWNj22m+5XkVQZc=,36,30,180,180,1,20170303,20170422,0
3,+/w1UrZwyka4C9oNH3+Q8fUf3fD8R3EwWrx57ODIsqk=,36,30,180,180,1,20170329,20170331,1
4,+00PGzKTYqtnb65mPKPyeHXcZEwqiEzktpQksaaSC3c=,41,30,99,99,1,20170323,20170423,0

In [10]:
user_logs_df.head()

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=,20170331,8,4,0,1,21,18,6309.273
1,nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=,20170330,2,2,1,0,9,11,2390.699
2,2UqkWXwZbIjs03dHLU9KHJNNEvEkZVzm69f3jCS+uLI=,20170331,52,3,5,3,84,110,23203.337
3,ycwLc+m2O0a85jSLALtr941AaZt9ai8Qwlg9n0Nql5U=,20170331,176,4,2,2,19,191,7100.454
4,EGcbTofOSOkMmQyN1NMLxHEXJ1yV3t/JdhGwQ9wXjnI=,20170331,2,1,0,1,112,93,28401.558

msno                      object
city                       int64
bd                         int64
gender                    object
registered_via             int64
registration_init_time     int64
dtype: object